/*-----------------------------Hero section------------------------------------*/
#hero-section {
  background-image: url(/images/home-img/hero-img-1.png);
  background-size: cover;
  height: 895px;
}

#hero-text {
  width: 32%;
  padding-top: 25%;
  padding-left: 5%;
  color: white;
}

#hero-text .headline-style {
  margin: 0;
  line-height: 2.5rem;
}

#hero-text p {
  padding-bottom: 5%;
  line-height: 1.5rem;
}

/*-----------------------------section-1------------------------------------*/
.section-1-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*-----------------------------section-2------------------------------------*/
.section-2-image img {
  display: flex;
  width: 85%;
  margin: auto;
}

.section-2-container {
  background: linear-gradient(180deg, rgba(98, 77, 217, 0.7), rgba(111, 160, 170, 0.7), rgba(51, 190, 219, 0.7), rgba(51, 190, 219, 0.7));
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  width: 85%;
  height: 370px;
}

.section-2-container p {
  width: 40%;
  margin: auto;
  text-align: center;
}

/*-----------------------------section-3------------------------------------*/
.section-3-image img {
  display: flex;
  width: 85%;
  margin: auto;
}

#h2-section-3 {
  text-transform: uppercase;
  margin: 0;
}

.section-3-container {
  background: linear-gradient(180deg, rgba(98, 77, 217, 0.7), rgba(111, 160, 170, 0.7), rgba(51, 190, 219, 0.7), rgba(51, 190, 219, 0.7));
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  width: 85%;
  height: 336px;
}

/*-----------------------------section-4------------------------------------*/

section {
  margin-bottom: 10%;
}

.section-4-circles {
  clip-path: circle(50% at 50% 50%);
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

.section-4-container {
  display: flex;
  justify-content: space-evenly;
}

.section-4-circles p {
  text-align: center;
  width: 80%;
  margin: 5% auto;
}

#circle-1 {
  background-color: #3795AF;
  border: 12px solid #EC9558;
}

#circle-2 {
  background-color: #EC9558;
  border: 12px solid #7B8FD9;
}

#circle-3 {
  background-color: #7B8FD9;
  border: 12px solid #3795AF;
}
