html {
  box-sizing: border-box;
  background-color: #FFFFFF;
  }
  
  *,
  *:before,
  *:after {
   box-sizing: inherit;
  }
  
body {
  max-width: 1440px;
  height: fit-content;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(98, 77, 217, 0.312) 0%, rgba(111, 160, 170, 0.4) 85.98%, rgba(51, 190, 219, 0.4) 85.98%, rgba(51, 190, 219, 0.248) 85.98%);
}

/*--------------------------------------Header-----------------------------------*/
header {
  background-color: #011420;
  width: 100%;
  display: flex;
}

.logo-cont {
  display: flex;
}

#header-nav {
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: flex-end;
  margin-right: 8%;
  align-items: center;
}

.menu-link {
  text-decoration: none;
  font-family: 'roboto condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

/*-------------------------------------Footer-----------------------------------*/
footer {
  background-color: #011420;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-text {
  font-family: 'roboto condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-text-p {
  font-family: 'roboto condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
}

.footer-icon {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-icon i {
  margin-right: 10%;
}

.headline-style {
  font-size: 36px;
  font-family: 'playfair display', sans-serif;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-family: 'roboto condensed', sans-serif;
}

.headline-style-2 {
  font-size: 30px;
  font-family: 'playfair display', sans-serif;
  font-weight: 400;
  text-align: center;
}

/*---------------------------------main button-------------------------------*/
.main-btn {
  color: white;
  background-color: #3795af;
  text-decoration: none;
  border-radius: 50px;
  padding: 3% 6%;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
}

/*---------------------------------divide lines-------------------------------*/
.divider-sections {
  position: relative;
  margin: 25px auto;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.075em;
  color: #19213A;
}

.divider-sections::before {
  background: #19213A;
  display: inline-block;
  width: 35%;
  height: 8px;
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
}

.divider-sections::after {
  background: #19213A;
  display: block;
  width: 35%;
  height: 8px;
  content: "";
  position: absolute;
  right: 0;
  top: 40%;
}

